
<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">Tables</h4>
    <table scTable>
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
      </tbody>
    </table>
    <h4 class="card-title">Sortable table</h4>
    <table scTable>
      <thead scSort (sortChange)="onSortChange($event)" sortBehavior="multi">
        <tr>
          <th scSortHeader="id">#</th>
          <th scSortHeader="name">First Name</th>
          <th scSortHeader="lastname">Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sortedData; trackBy: trackByItemId">
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.lastname }}</td>
          <td>{{ data.username }}</td>
        </tr>
      </tbody>
    </table>

  
  </div>
</div>