<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">Using scButton directive</h4>
    <button scButton="primary">Primary</button>
    <button scButton="secondary">Secondary</button>
    <button scButton="info">Info</button>
    <button scButton="link">Link</button>
    <button scButton="chromeless">Chromeless</button>
  </div>
  <div class="card-block">
    <button scButton [isFullWidth]="true">Full width</button>

  </div>
</div>

<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">Using scBackButton component</h4>
    <pre><code highlight="someCode"><sc-back-button>Back</sc-back-button></code></pre>
    <!-- <textarea highlight-js [options]="{}">
          <sc-back-button>Back</sc-back-button>
  </textarea> -->
  </div>

</div>

<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">Using scIconButton directive</h4>
    <button scIconButton>
      <sc-icon icon="apple"></sc-icon>
    </button>
    <br />
    <p>Check icons on icons page</p>
    <!-- <textarea highlight-js [options]="{}">
              <button scIconButton>
                  <sc-icon icon="apple"></sc-icon>
                </button>
      </textarea> -->
  </div>
</div>
<div class="card mb-3">
  <div class="card-block">
    <h4 class="card-title">Using scToggle directive</h4>
    <button scButton [(scToggle)]="isActive">Enabled</button>
    <button scButton [(scToggle)]="!isActive">Disabled</button><br /><br />
    <!-- <textarea highlight-js [options]="{}">
            <button  scButton [(scToggle)]="isActive">Enabled</button>
            <button  scButton [(scToggle)]="!isActive">Disabled</button>
         </textarea> -->
  </div>
</div>