<div class="card mb-3">
  <div class="card-block">
    <h1 class="card-title">Sitecore Speak 3 UI Library</h1>
    <p>This is a demo application of Sitecore Speak 3 UI components and styles</p>
    <p>Feel free to add more styles and components. Custom components are also welcomed</p>
  </div>
</div>


<div class="card mb-3">
  <div class="card-block">
    <h1 class="card-title">How to use libraries</h1>
    <p>Import the modules in your <strong>app.module.ts</strong> file</p>
    <ngx-gist [gistId]="'Mitya88/d5702b4a5d299b0035dbe35086ed5956'" style="display:block;height: 800px;"></ngx-gist>
  </div>
</div>