<aside>
  <nav>
    <sc-menu>
      <sc-menu-category icon="cake_slice" text="Components" [open]="true">
        <sc-menu-item>
          <a scMenuItemLink routerLink="" routerLinkActive="active">Home</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/buttonpage"  routerLinkActive="active">Buttons</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/iconpage" routerLinkActive="active">Icons</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/progressindicatorpage" routerLinkActive="active">Progress Indicator</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/tabpage" routerLinkActive="active"> Tabs</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/tablepages" routerLinkActive="active">Tables</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/menupage" routerLinkActive="active">Menus</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/colorpage" routerLinkActive="active">Colors</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/textheadingpage" routerLinkActive="active">Text and headings</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/dialogspage" routerLinkActive="active">Dialogs</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/containerspage" routerLinkActive="active">Action bar & Aside panel</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/imagepage" routerLinkActive="active">Images (Coming soon)</a>
        </sc-menu-item>
        <sc-menu-item>
          <a scMenuItemLink routerLink="/controlspage" routerLinkActive="active">Controls page</a>
        </sc-menu-item>
      </sc-menu-category>
    </sc-menu>
  </nav>
</aside>