<div class="card mb-3 }">
  <div class="card-block">
    <h4 class="card-title">Controls (More content is coming soon)</h4>
  </div>
</div>

<sc-dropdown>
  <button scButton scDropdownToggle>Dropdow button</button>
  <sc-dropdown-menu>
    <sc-dropdown-header>Dropdown header</sc-dropdown-header>
    <a scDropdownItem href="#">Action</a>
    <a scDropdownItem href="#">Another action</a>
    <sc-dropdown-divider></sc-dropdown-divider>
    <a scDropdownItem href="#">Something else here</a>
  </sc-dropdown-menu>
</sc-dropdown>