<sc-page>
  <app-header scPageHeader></app-header> <!-- shared components/header/header.component.html-->
  <app-side-menu scPageNav></app-side-menu> <!-- shared components/side-menu/side-menu.component.html-->

  <sc-application-header scPageAppHeader text="UI Library">
    <h5 class="basic-white">Page title</h5>
  </sc-application-header>

  <div scPageContent>
    <article class="p-4">
      <p>Simple drop down menu with active states, open/closed states</p>
      <nav scPageNav>
        <sc-menu>
          <sc-menu-category icon="cake_slice" text="Lorem ipsum dolor" [open]="true">
            <sc-menu-item>
              <a scMenuItemLink routerLink="lorem">Not active</a>
            </sc-menu-item>
            <sc-menu-item>
              <a scMenuItemLink routerLink="ipsum" [active]="true">Active</a>
            </sc-menu-item>
          </sc-menu-category>
          <sc-menu-category icon="cake_slice" text="Other Category with buttons" [open]="true">
            <sc-menu-item>
              <div class="p-1"><button scButton>Button</button></div>

            </sc-menu-item>
            <sc-menu-item>
              <div class="p-1"><button scButton="primary">Button</button></div>

            </sc-menu-item>
            <sc-menu-item>
              <a scMenuItemLink routerLink="ipsum" [active]="true">Active</a>
            </sc-menu-item>
          </sc-menu-category>
          <sc-menu-category icon="cake_slice" text="Closed by Default" [open]="false">
            <sc-menu-item>
              <a scMenuItemLink routerLink="lorem">Not active</a>
            </sc-menu-item>
            <sc-menu-item>
              <a scMenuItemLink routerLink="ipsum" [active]="true">Active</a>
            </sc-menu-item>
          </sc-menu-category>
        </sc-menu>
      </nav>

    </article>
    
  </div>
</sc-page>